
    <section class="head">
        <h1 class="titulo">Convertimos tus metas en realidad</h1>
        <p class="copy">La página ideal para ofrecer y contratar servicios profesionales</p>
    </section>
    <!-------------------------------- Inicio Main  ------------------------------------->
    <main>
        <!-------------------------------- Fin sección categorias ------------------------------------->

        <!-- Portada principal -->

        <!-- Nuestro servicio -->
        <section class="container mt-5 servicio" id="servicio">
            <h2 class="subtitulo">Nuestro Servicio</h2>

            <div class="contenedor-servicio pt-5">
                <div class="checklist-servicio">
                    <div class="services">
                        <h3 class="n-services"><span class="number"> 1 </span><span>¿QUÉ NECESITA?</span></h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, voluptatibus?</p>
                    </div>
                    <div class="services">
                        <h3 class="n-services"><span class="number"> 2 </span><span>COMPARE SERVICIOS</span></h3>

                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, voluptatibus?</p>
                    </div>
                    <div class="services">
                        <h3 class="n-services"><span class="number"> 3 </span><span>GARANTIA DE SERVICIO</span></h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, voluptatibus?</p>
                    </div>
                </div>
                <div class="services">
                    <h3 class="n-services"><span class="number"> 4 </span><span>CONTROL DE CALIDAD</span></h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, voluptatibus?</p>
                </div>
            </div>
            <a href="#">Regístrate</a>
        </section>

        <!-- Links de categorias de servi profesionales  -->
        <section class="container cont-profesional mt-5">
            <h2 class="subtitulo mb-5">Categorias de servicios</h2>
            <div class="categoria">
                <div class="servi-fila">

                    <div class="servi-item">
                        <a href="#"><i class="fas fa-address-card"></i></a>
                        <p>Auditoria</p>
                    </div>
                    <div class="servi-item">
                        <a href="#"><i class="fas fa-address-card"></i></a>
                        <p>Actuaria</p>
                    </div>
                    <div class="servi-item">
                        <a href="#"><i class="fas fa-address-card"></i></a>
                        <p>Contaduria</p>
                    </div>
                    <div class="servi-item">
                        <a href="#"><i class="fas fa-address-card"></i></a>
                        <p>Ingenieria</p>
                    </div>

                    <div class="servi-item">
                        <a href="#"><i class="fas fa-address-card"></i></a>
                        <p>Finanzas</p>
                    </div>
                    <div class="servi-item">
                        <a href="#"><i class="fas fa-address-card"></i></a>
                        <p>Educación</p>
                    </div>
                </div>
            </div>
        </section>
        <!-------------------------------- Inicio sección servicios ------------------------------------->
        <section class="my-5 card-servi">
            <h2 class="subtitulo pt-3 text-center">¿Qué quieres hacer?</h2>
            <hr class="w-100 bg-light">
            <div class="container py-3 d-flex justify-content-around">
                <a href="carrito">Comprar</a>
                <a href="perfil">Vender</a>



            </div>
        </section>
        <!-------------------------------- Fin sección servicios ------------------------------------->

        <!-- Nosotros -->

        <section class="container miembros" id="nosotros">
            <div class="contenedor">
                <h2 class="subtitulo">Nosotros</h2>
                <hr class="bg-dark w-100">
                <h3 class="subtitulo">Conoce nuestro equipo de trabajo </h3>
                <div class="cards">
                    <div class="card">
                        <img src="../../../assets/img/face_co.png" alt="">
                        <a href="#">Carlos Alvarez</a>
                        <p>ScrumMaster</p>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/face_co3.png" class="" alt="">
                        <a href="#">Alejandra Villamil</a>
                        <p>Product owner</p>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/face_co2.png" alt="">
                        <a href="#">Andrés Cardona</a>
                        <p>Developer</p>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/face_co1.png" alt="">
                        <a href="#">Alejandro Fandiño</a>
                        <p>Developer</p>
                    </div>

                </div>
            </div>
        </section>
</main>