<footer class="footer" id="footer">
    <div class="partFooter">
        <a href="index.html">
            <img src="./assets/Logo/logoMakyBlanco.png" alt="">
        </a>
    </div>
    <div class="partFooter">
        <h4>Servicios</h4>
        <a href="#">Servicios 1 </a>
        <a href="#">Servicios 2 </a>
        <a href="#">Servicios 3 </a>
    </div>
    <div class="partFooter">
        <h4>Nosotros </h4>
        <a href="#">Cell: 12345678 </a>
        <a href="#">Direccion: cr 13 #20b -10 </a>
        <a href="#">Correo: abc@servicios.com </a>
    </div>
    <div class="partFooter">
        <h4>Redes sociales</h4>
        <div class="social-media">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-snapchat-square"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>
</footer>
